$random-image: 'https://picsum.photos/1920/1080/?random';
$bio-image: url('http://isaac-portfolio.surge.sh/img/43153036_1011484379036015_2096436986729463808_n.jpg');
//$albumOne-image: url($random-image);
$albumTwo-image: url($random-image);
$albumThree-image: url($random-image);
$photos-1: url($random-image);
$photos-2: url($random-image);
$photos-3: url($random-image);
$photos-4: url($random-image);
$photos-5: url($random-image);
$photos-6: url($random-image);
$photos-7: url($random-image);
$photos-8: url($random-image);