//colors
$gray-600: rgb(46, 43, 44);
$gray-700: rgb(29, 27, 28);
$gray-800: rgb(17, 16, 16);
$gray-900: rgb(8, 7, 8);
$yiq-text-dark: $gray-600;
$dark: $gray-600;
$dark--title: rgba(46, 43, 44, 0.6); //#2e2b2c
$dark--subtitle: rgba(103, 97, 92, 1); //#67615C
$light:rgba(254, 254, 254, 1); //#fefefe
$grad-0: rgba(226,226,226,1);
$grad-50: rgba(190,181,165,1);
$grad-100: rgba(100,91,78,1);
$bttn--dark: rgba(193,175,150,1);
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #252424;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #2e2b2c;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: Lato;
}
@mixin threeWayGradient($degree, $degreeInverse, $startColor, $positionOne, $middleColor, $positionTwo ,$endColor, $positionThree){
    background: $startColor; // Old browsers
    background: -moz-linear-gradient($degreeInverse, $startColor, $positionOne, $middleColor, $positionTwo ,$endColor, $positionThree); // FF3.6-15
    background: -webkit-linear-gradient($degreeInverse, $startColor, $positionOne, $middleColor, $positionTwo ,$endColor, $positionThree); // Chrome10-25,Safari5.1-6
    background: linear-gradient($degree, $startColor, $positionOne, $middleColor, $positionTwo ,$endColor, $positionThree); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
}

//fonts
$font-family-sans-serif: Lato, Helvetica;
$secondary-font-family: Bahnschrift, Helvetica;
$font-weight-bold: 900;

//extra
$enable-gradients: false;
$enable-rounded: false;
