//colors
$gray-600: rgb(46, 43, 44);
$gray-700: rgb(29, 27, 28);
$gray-800: rgb(17, 16, 16);
$gray-900: rgb(8, 7, 8);
$yiq-text-dark: $gray-600;
$dark: $gray-600;
$dark--title: rgba(46, 43, 44, 0.6); //#2e2b2c
$dark--subtitle: rgba(103, 97, 92, 1); //#67615C
$light:rgba(254, 254, 254, 1); //#fefefe
$grad-0: rgba(226,226,226,1);
$grad-50: rgba(190,181,165,1);
$grad-100: rgba(100,91,78,1);
$bttn--light: rgba(193,175,150,1);//#C1AF96
$bttn--dark: rgba(103, 97, 92, 1);

@mixin threeWayGradient($startColor, $middleColor, $endColor){
    background: $startColor; // Old browsers
    background: -webkit-gradient(linear, left top, left bottom, from($startColor), color-stop($middleColor) ,to($endColor)); 
    background: -webkit-linear-gradient($startColor, $middleColor , $endColor);
    background: -o-linear-gradient($startColor, $middleColor , $endColor);
    background: linear-gradient($startColor, $middleColor , $endColor);
}

@mixin widthChange($b, $m, $e) {
    @keyframes widthAni{
        0%{
            width: $b;
        }
        25%{
            width: $m;
        }
        100%{
            width: $e;
        }
    }
}
@mixin widthChangeRev($b, $m, $e) {
    @keyframes widthAniRev{
        0%{
            width: $e;
        }
        25%{
            width: $m;
        }
        100%{
            width: $b;
        }
    }
}

//fonts
$font-family-sans-serif: Lato, Helvetica;
$secondary-font-family: Bahnschrift, Helvetica;
$font-weight-bold: 900;

//extra
$enable-gradients: false;
$enable-rounded: false;
