@import 'variables';
@import 'animate';
@import 'images';

// block__element--modifier
body {
    color: $gray-600;
    font-family: $font-family-sans-serif !important;
    background-color: $dark;
    font-weight: 300;
    overflow-y: scroll;
    //scroll-snap-type: y mandatory; 
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.nav {
    background: transparent;

    &bar {
        &-toggler {
            &-icon {
                color: $light;
            }
        }

        &-nav {
            &:first-child {
                font-size: 1.25em;

                .nav-item {
                    padding-right: 0.65em;
                }
            }
        }
    }

    &-link:not(.social) {
        color: $light;
        text-transform: uppercase;
        font-family: $secondary-font-family;

        &:hover {
            color: $light;

            &::after {
                display: block;
                background-color: $light;
                transition: 1s ease display;
            }
        }

        &::after {
            display: none;
            transition: 1s ease display;
            width: 100%;
            height: 0.075em;
            content: ' ';
        }
    }

    &-link.social {
        color: $light;

        &:hover {
            color: $light;
        }
    }

    &-item {
        padding-right: 2em;

        &.active {
            .nav-link:not(.social) {
                &::after {
                    display: block;
                    height: 0.075em;
                    width: 45%;
                    transition: 1s ease width;
                    content: ' ';
                    background: #fefefe;
                }

                &:hover::after {
                    width: 100%;
                    transition: 1s ease width;
                }
            }
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.dark {
    color: $light;
}

.light {
    background-color: $light;
}

.dark--text {
    color: $dark;
}

.overlay {
    width: 100%;
    height: 100%;
    background: $grad-0;
    /* Old browsers */
    @include threeWayGradient(135, 45, $grad-0, 0, $grad-50, 50, $grad-100, 100);
}

section {
    //scroll-snap-align: start;
    padding: 3em 0em;
}

.landing {
    min-height: calc(100vh - 56px);

    &--center {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 35vh;
        position: absolute;
        width: calc(100% - 30px);

        .text-center {
            width: 70%;
            margin: auto;
        }
    }

    &--maintext {
        font-size: 4.75rem;
        font-weight: 200;
    }

    &--subtext {
        text-transform: uppercase;
        font-weight: 100;
    }
}

.bio {
    min-height: 100vh;

    .split {

        &__right,
        &__left {
            min-height: 35vh;
            margin-bottom: 4em;
        }

        &__right {
            .image--fill {
                max-width: 100%;
                max-height: 60%;

                .image--fill__img {
                    background-image: $bio-image;
                    margin-left: auto;
                    margin-right: 0;
                    height: 100%;
                    opacity: 0.3;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

.album {
    min-height: 100vh;

    .split {

        &__right,
        &__left {
            min-height: 35vh;
            margin-bottom: 4em;
        }

        &__left {
            .image--fill {
                max-width: 100%;
                max-height: 60%;

                .image--fill__img {
                    background-image: $albumOne-image;
                    margin-left: auto;
                    margin-right: 0;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: flex;
                    align-items: flex-end;
                    overflow: hidden;
                }

                &__button {
                    border: 0;
                    padding: 0.5em 2.5em;
                    letter-spacing: 0.5em;
                    font-weight: 600;
                    position: absolute;
                    z-index: 999;
                }

                &__overlay {
                    @extend .overlay;
                    opacity: 0.45;
                }
            }
        }

        &__right {
            &__button {
                border: 0;
                padding: 0.5em 2.5em;
                margin-bottom: 0.5em;
            }

            .albumContent {
                &__title {
                    font-size: 2.25em;
                    margin-bottom: 0em;
                    letter-spacing: 0.05em;
                }

                &__date {
                    color: $dark--subtitle;
                    text-transform: uppercase;
                    margin-bottom: 2.5em;
                    font-size: 0.95em;
                }

                &__desc {
                    content: '';
                }
            }
        }
    }

    .divider {
        display: flex;
        align-items: center;

        &__line {
            width: 15%;
            background-color: $light;
            height: 0.25em;
        }

        &__title {
            padding: 0.5em;

            &--link {
                color: #fefefe;
                text-transform: uppercase;
                font-size: 1.25em;
                letter-spacing: 0.15em;
            }
        }
    }
}

.elementToAnimate {
    animation: yourAnimation 1s forwards 0s ease-out;
}

.photos {
    min-height: 100vh;

    &__filter {
        display: flex;
        align-items: center;

        &__list {
            &__item {
                list-style: none;
                display: flex;
                align-items: center;

                &__link {

                    &:hover,
                    &:focus {
                        color: $dark;
                        text-decoration: none;
                    }
                }

                &::before {
                    content: ' ';
                    width: 1.5em;
                    height: 0.15em;
                    background: $dark;
                    display: block;
                    margin-right: 1em;
                    @include widthChangeRev(1.5em, 4em, 3em);
                    animation: widthAniRev 0.5s forwards 0s ease;
                }

                &--active {
                    &::before {
                        width: 3em !important;
                    }
                }

                &:hover::before,
                &:focus::before {
                    @include widthChange(1.5em, 4em, 3em);
                    animation: widthAni 0.5s forwards 0s ease;
                }
            }
        }
    }

    &__grid {
        color: #fefefe;

        &__block {
            min-height: 30vh;
            padding: 0;
        }

        &__tri {
            display: flex;
            flex-wrap: wrap;
        }

        &__img {
            height: calc(50% - 15px);

            &--overlay {
                @extend .overlay;
                opacity: 0.45;
                position: absolute;
                width: calc(100% - 30px);
                height: calc(100% - 15px);
            }

            &--img {
                width: 100%;
                background-image: url($random-image);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                min-height: calc(100% - 15px);
                margin: 15px 0px;
                overflow: hidden;
            }

            &--img--double {
                min-height: calc(30vh + 30px);

                .photos__grid__img--overlay {
                    height: 200%;
                }
            }
        }
    }
}

.news {
    min-height: 100vh;

    .split {

        &__right,
        &__left {
            min-height: 35vh;
            margin-bottom: 4em;
        }

        &__left {
            justify-content: center;
            align-items: center;
            display: flex;
            .image--fill {
                max-width: 100%;
                max-height: 60%;

                .image--fill__img {
                    margin-left: auto;
                    margin-right: 0;
                    height: 100%;
                    opacity: 0.3;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }

        &__right.blog {
            overflow: hidden;
            .current{
                .divider{
                    &::before{
                        content: '';
                        display: block;
                        height: 2em;
                        width: 0.25em;
                        background-color: #fefefe;
                        margin-left: -0.25em;
                    }
                }
            }
            @for $i from 0 through 5 {
                .block#{$i} {
                    padding-top: 3em;
                    position: relative;

                    .divider {
                        background: $light;
                        height: 0.25em;
                        width: 6em;
                    }

                    @for $i from 0 through 5 {
                        .date#{$i} {
                            text-transform: uppercase;
                            color: $dark--subtitle;
                            letter-spacing: 0.1em;
                            padding-top: 0.5em;
                            padding-left: 0.25em;
                        }
                    }

                    @for $i from 0 through 5 {
                        .label#{$i} {
                            text-transform: uppercase;
                            color: $light;
                            font-weight: 600;
                            letter-spacing: 0.15em;
                            top: 3em;
                            position: absolute;
                            right: 0;
                        }
                    }

                    @for $i from 0 through 5 {
                        .title#{$i} {
                            display: block;
                            padding-left: 0.25em;
                        }
                    }
                }
            }

            .bttn {
                margin-top: 3em;
                border: 0;
                padding: 0.5em 2.5em;
                margin-bottom: 0.5em;
                &--light {
                    text-transform: uppercase;
                }
            }
        }
    }
}

.contact {
    min-height: 100vh;
    &__right,
    &__left {
        min-height: 35vh;
        margin-bottom: 4em;
    }
    .booking{
        &--subtitle{
            color: $dark--title;
            font-weight: 100;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 3em;
        }
        .book{
            position: relative;
            margin-bottom: 2.5em;
            .location{
                font-size: 1.25em;
            }
            .event{
                text-transform: uppercase;
                letter-spacing: 0.125em;
                padding-bottom: 0.5em;
            }
            .bttn{
                text-transform: uppercase;
                min-width: 40%;
            }
            .social{
                font-size: 1.25em;
                float: right;
                margin-right: 5em;
                display: flex;
                margin-top: -.25em;
                .fab{
                    padding: 0em 0.75em;
                    border-radius: 50%;
                    box-shadow: inset 0px 2.5em $bttn--dark;
                    color: $bttn--light;
                    width: 2.5em;
                    height: 2.5em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-left: 1em;
                }
            }
        }
    }
    .form{
        &--subtitle{
            color: $dark;
            font-weight: 100;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 3em;
        }
        &__wrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            &__item{
                width: 80%;
                margin: 2em 1em;
                border: none;
                background: transparent;
                color: $light;
                box-shadow: 0px 1px $dark;
                padding-bottom: 0.25em;
                transition: 0.5s ease box-shadow;
                &--textarea{
                    resize: vertical;
                    scroll-behavior: smooth;
                }
                &::placeholder{
                    color: $dark
                }
                &:focus{
                    outline: 0;
                    box-shadow: 0px 2.5px $dark;
                    transition: 0.5s ease box-shadow;
                }
            }
            .bttn{
                text-transform: uppercase;
                font-weight: bold;
                width: 50%;
                letter-spacing: 0.35em;
                font-size: 1.15em;
            }
        }
    }
}

.bttn {
    border: 0;
    padding: 0.5em 2.5em;
    margin-bottom: 0.5em;
    &--dark {
        background-color: $bttn--dark;
        color: $bttn--light;
    }

    &--light {
        background-color: $bttn--light;
        color: $dark;
    }
}

.invisible {
    transition: opacity 1s ease;
    opacity: 0.0;
}

.visible {
    transition: opacity 1s ease;
    opacity: 1.0;
}

.title {
    display: flex;
    align-items: center;
    font-family: $secondary-font-family;
    text-transform: uppercase;

    &--light {
        color: $light;
    }

    &--dark {
        color: $dark--title;
    }

    &--light,
    &--dark {
        font-size: 3em;
        font-weight: 300;
    }
}

@import '_tablet';
@import '_phone';